<!DOCTYPE html>
<html>
  <head>
    <title>AuthUser</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> %>
  </head>

  <body>
    <% if current_user.nil? %>
      <%= link_to "sign in", new_session_url %>
      <%= link_to "sign up", new_user_url %>
    <% else %>
      <h1>signed in as: <%= current_user.username %> </h1>
      <%= button_to "log out", session_url(current_user), method: :delete %>
    <% end %>

    <%= yield %>
  </body>
</html>
